# ───────── VETRIS (.gitignore) ─────────

# Python bytecode / packaging
__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
.eggs/
*.egg
pip-wheel-metadata/

# Virtual envs
VRenv/

# Caches & tooling
.pytest_cache/
.vscode/

# OS cruft
.DS_Store

# ───────── Project outputs and Data ─────────
runs/**
results/**
logs/**
extra/**

# Ignore data folder, but keep specific subfolders
data/*
!data/media/
!data/media/**
!data/real/
!data/real/**

# Keep image assets for documentation
!docs/img/
!docs/img/**
